@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply border-t-primary;
  /* border-top-color: rgb(255, 165, 0); */
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  */
.highlight {
  background: linear-gradient(120deg, #fed93d 0%, #fed93d 100%);
  background-repeat: no-repeat;
  background-size: 100% 36%;
  background-position: 0 90%;
  /* line height: 1.2 */
  /* line-height: 1.2; */
}
/*  */
.video-container {
}
.videoInsert {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.videoInsert {
  object-fit: cover !important;
  border-top-left-radius: 30rem;
  border-bottom-left-radius: 15rem;
}

.section1 {
  background: radial-gradient(
      closest-side at 50% 50%,
      rgba(246, 159, 59, 0.3) 0%,
      rgba(246, 159, 59, 0) 100%
    )
    0% 0% no-repeat padding-box;
  /* bg opacity 30 */
}
.section2 {
  background: radial-gradient(
      closest-side at 50% 50%,
      rgba(164, 96, 223, 0.3) 0%,
      rgba(246, 159, 59, 0) 100%
    )
    0% 0% no-repeat padding-box;
  /* bg opacity 30 */
}
.section3 {
  background: radial-gradient(
      closest-side at 50% 50%,
      rgba(255, 214, 51, 0.3) 0%,
      rgba(246, 159, 59, 0) 100%
    )
    0% 0% no-repeat padding-box;
  /* bg opacity 30 */
}
.section4 {
  background: radial-gradient(
      closest-side at 50% 50%,
      rgba(59, 130, 246, 0.3) 0%,
      rgba(246, 159, 59, 0) 100%
    )
    0% 0% no-repeat padding-box;
  /* bg opacity 30 */
}
.section5 {
  background: radial-gradient(
      closest-side at 50% 50%,
      rgba(89, 246, 59, 0.3) 0%,
      rgba(246, 159, 59, 0) 100%
    )
    0% 0% no-repeat padding-box;
  /* bg opacity 30 */
}
